.cards {
    background-color: rgb(10 29 19);
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .cards .container .row{
    gap: 10px;
  }
  .Slogans{
    gap: 20vh;
    column-gap: 16vh;
    row-gap: 10px;
  }
  .cards p{
    font-size: 16px;
    color: #fffee0;
  }
  .card0,
  .card1,
  .card2,
  .card3,
  .card4,
  .card5{
      margin:auto;
      width: 12rem;
  }
  
  .slogan_title{
      color: var(--color--red);
  }
  