
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .Contact img{
    width: 100%;
  }
  .footer{
      background-color: rgba(0, 0, 0, 0.819);
  }
  .container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .logo_white {
    display: flex;
    justify-content: center;
    /* margin-bottom: 6vh; */
  }
  .logo_white img {
    width: 10vh;
  }
  .Logo_Footer {
    width: 10rem;
  }
  
  .adress {
    font-size: 18px;
  }
  
  svg{
    font-size: 20px;
  }
  a{
    text-decoration: none;
    color:#8ff4b3;
  }
  .ULFooter{
    display: flex;
    justify-content: space-evenly;
  }
  .App button{
    border: none;
    padding: 10px;
    border-radius: 10px;
  }
  .rowFooter{
    flex-direction: row-reverse;
  }