.Services_item_img {
    border-radius: 15px;
    margin: auto;
    width: 70%;
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    padding: 2vh;
  }
  .card_wrapperr{
    background-color: whitesmoke;
    border-radius: 10px;
  }
  .Best_Services_item {
    margin: auto;
    text-align: center;
  }
  .Services_item_title {
    color: var(--color-green);
    font-size: 1rem;
    margin-top: 10px;
  }
  .Services_item_details{
      font-size: 14px;
      margin-left: 10px;
      margin-right: 10px;
  }