.imgServices img{
    width: 100%;
    border-radius: 10px;
}
.cardDetails h3{
font-size: 16px;
line-height: 2;
font-weight: 600;
margin-top: 10px;
color: var(--color--green);
text-align: center;
}

.cardServices{
    margin: auto;
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    height: 26.5rem;
    margin-top: 30px;

}

.rowServices{
    gap: 20px;
    column-gap: 10px;
}
@media screen and (min-width:500px) and (max-width:990px){
    .cardServices{
        width: 40%;
    }
}
@media screen and (min-width:5px) and (max-width:550px){
    .cardServices{
        width: 80%;
        margin-top: 15px;
    }
    .cardDetails h3{
        margin-top: 15px;
    }
}
.ServicesTitle{
    text-align: center;
    color: var(--color--green);
    margin-top: 20px;
    font-size: 50px;
}

.ServicesTitle svg{
    font-size: 30px;
}
.rowServices p{
    font-size: 20px;
    color: black;
    opacity: 0.8;
    line-height: 2;
}