.container {
    margin-top: 6vh;
  }
  .about-title {
    font-size: 50px;
    font-weight: bold;
    /* margin-top: 4vh; */
    color: var(--color--green);
    /* margin-bottom: 10px; */
  }
  .about-title svg{
    font-size: 30px;
  }
  .about-details {
    margin-top: 20px;
    line-height: 2.5;
    /* opacity: 0.9; */
    font-weight: 500;
    font-size: 20px;
  }
  .about-img {
    width: 100%;
    margin-top: 2vh;
  }
  
  