.container {
    margin-top: 6vh;
  }
  .about-title {
    font-size: 2rem;
    color: var(--color--green);
  }

  .about-details {
    margin-top: 20px;
    line-height: 2.5;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
  }
  .about-img {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }
  
  
  .text-container{
    width: 100%; 
    white-space: normal; 
    overflow: hidden; 
  }