.container {
    margin-top: 6vh;
  }
  .about-title {
    font-size: 50px;
    font-weight: bold;
    color: var(--color--green);
  }
  .about-title svg{
    font-size: 30px;
  }
  .about-details {
    margin-top: 20px;
    line-height: 2.5;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: start;
  }
  .about-img {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }
  
  