.Contact img{
    width: 100%;
    }
    /* @media screen and (max-width:750px) {
  
      .Contactt{
        width: calc(92% - 8%);
        }
        } */
    

    form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 99%;
        
    
        input {
          width: 100%;
          padding: 7px;
          border-radius: 5px;
          border: 1px solid var(--color--green);
          outline: var(--color--green);
        }
    
        textarea {
          max-width: 100%;
          min-width: 100%;
          width: 100%;
          max-height: 100px;
          min-height: 200px;
          padding: 7px;
          outline: none;
          border-radius: 5px;
          border: 1px solid var(--color--green);
          resize: none;
    
          &:focus {
            border: 2px solid var(--color--green);
          }
        }
    
        label {
          margin-top: 1rem;
        }
    
        input[type="submit"] {
          cursor: pointer;
          background: var(--color--green);
          color: white;
          font-size: 1rem;
          width: 120px;
          margin: 0 20px;
          height: 60px;
          
        }
      }
      input[type="submit"]:hover{
            background-color: #3bc26a;
        }
     
      input[type="file"]::file-selector-button{
        border: 2px solid var(--color--green);
        padding: 2vh;
        background-color: white;
        color: black;
        border-radius: 10px;
        cursor: pointer;
      }
      input[type="file"]{
        border: none;
        color: transparent;
      }
      .btnfolder{
        padding:1rem 3rem;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
        border: 2px solid var(--color--green);
    
      }
      .btnfolder svg{
        font-size: 2rem;
        color: var(--color--green);
      }
      .visb{
        display: none;
      }
      form label{
        margin-bottom: 8px;
        color:black;
      }
      .delete-file-btn{
        padding: 12px;
        border-radius: 10px;
      }