.img1 img,
.img2 img,
.img3 img,
.img4 img,
.img5 img,
.img6 img,
.img7 img,
.img8 img{
  width: 100%;
}

.title {
  width: 100%;
  /* margin-top: 18vh; */
  color: var(--color--green);
  flex-direction: column;
  text-align: center;
}
.title h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 7vh;
}
.title p {
  font-size: 3.5vh;
  font-weight: bold;
}

.swiper-button-prev {
  display: none;
}
.swiper-button-next {
  display: none;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  display: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  display: none;
}


.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fce875b1;
}

@media screen and (min-width: 5px) and (max-width: 991px) {
  .title {
    margin-top: 0;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 5px) and (max-width: 440px) {
  .title {
    margin-top: 0;
  }

  .title h1 {
    font-size: 3vh;
  }
  .title p {
    font-size: 2.2vh;
  }
}
