.img1{
  background-image: url("../../assets/edite/واجهة-10.webp");
}
.img2{
  background-image: url("../../assets/edite/واجهة-11.webp");
}
.img3{
  background-image: url("../../assets/edite/واجهة-12.webp");
}
.img4{
  background-image: url("../../assets/edite/واجهة-151.webp");
}
.img5{
  background-image: url("../../assets/edite/واجهة-6.webp");
}
.img6{
  background-image: url("../../assets/edite/واجهة-67.webp");
}
.img7{
  background-image: url("../../assets/edite/واجهة-جديدة-2.webp");
}
.img8{
  background-image: url("../../assets/edite/واجهة-جديدة-3.webp");
}
.img9{
  background-image: url("../../assets/edite/واجهة-جديدة.webp");
}
.img10{
  background-image: url("../../assets/edite/واجهة 4.webp");
}
.img11{
  background-image: url("../../assets/edite/واجهة 8.webp");
}


.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 82vh;
}



.swiper-button-prev {
  display: none;
}
.swiper-button-next {
  display: none;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  display: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  display: none;
}


.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fce875b1;
}


@media screen and (min-width:850px) and (max-width:1030px ){
 
  .img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11{
   height: 28vh;
  }
  .navbar-brand img{
    width: 9vh;
  }
  .title h1{
    font-size: 2.3vh;
  }
  .title h4{
    font-size: 1.5vh;
  }
 }
 
 @media screen and (min-width:665px) and (max-width:860px ){
  .img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9,
.img10,
.img11{
   height: 54vh;
  }
  .title h1{
   font-size: 5vh;
  }
  .title h4{
   font-size: 3vh;
  }
 }
 @media screen and (min-width:540px) and (max-width:665px ){
   .img1,
   .img2,
   .img3,
   .img4,
   .img5,
   .img6,
   .img7,
   .img8,
   .img9,
   .img10,
   .img11{
    height: 40vh;
   }
   .title h1 {
     font-size: 4vh;
 }
 .title h4 {
     font-size: 2.8vh;
 }
 }
 @media screen and (min-width:476px) and (max-width:540px ){
   .img1,
   .img2,
   .img3,
   .img4,
   .img5,
   .img6,
   .img7,
   .img8,
   .img9,
   .img10,
   .img11{
    height: 35vh;
   } 
   .navbar-brand img{
    width: 12vh;
   }
   .title h1 {
     font-size: 4vh;
 }
 .title h4 {
     font-size: 2.8vh;
 }
 }
 
 @media screen and (min-width:400px) and (max-width:476px ){
   .img1,
   .img2,
   .img3,
   .img4,
   .img5,
   .img6,
   .img7,
   .img8,
   .img9,
   .img10,
   .img11{
    height: 28vh;
   } 
    .navbar-brand img{
      width: 12vh;
    }
   .title h1 {
     font-size: 4vh;
 }
 .title h4 {
     font-size: 2.5vh;
 }
 
 }
 @media screen and (min-width:5px) and (max-width:400px ){
  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9,
  .img10,
  .img11{
    height: 22vh;
   } 
 
 .navbar-brand img{
   width: 9vh;
 }
  
   .title h1 {
       font-size: 3vh;
   }
   .title h4 {
       font-size: 2.5vh;
   }
 }
 