.navbar-brand img{
  width: 18vh;
}
.container-fluid{
  background-color: white;
  z-index: 10;
  flex-direction: row-reverse;
}
.navbar-toggler{
  width: 100%;
  margin-top: 10px;
}
.navbar-collapse{
justify-content: center;
}
.navbar-nav{
  gap: 15px;
}
.navbar{
  background-color: white;
  padding: 0;
}

.navbar ul li a{
  color: var(--color--red);
  font-size: 22px;
  align-items: center;
  display: flex;
}
.navbar ul li a:hover{
  color: var(--color--green);
}
.navbar ul li a svg{
  margin-right: 10px;
  margin-left: 10px;
  color: var(--color--green);
}
.item1{
  transition-delay: 100ms;
}
.item2{
  transition-delay: 200ms;
}
.item3{
  transition-delay: 300ms;
}
.item4{
  transition-delay: 400ms;
}
.item5{
  transition-delay: 500ms;
}


.dropdown-menu[data-bs-popper]{
left: 0;
}


.title {
  padding-top: 15px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  color: var(--color--green);
}
.title h1 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}
.title h1[lang="ar"]{
  font-size: 2.2rem;
}

.title ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.title ul li {
  display: flex;
  justify-content: space-between;
}
.diffrint{
  font-size: 1.2rem;
  padding: 1.5vh;
  color: #b38628;
  border-radius: 50px;
}
.diffrint[lang="ar"]{
  font-size: 1.5rem;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 10;
  margin-top: 8px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.dropdown.active .dropdown-content {
  display: block;
}
.lanBtn{
  border: none;
  background-color: transparent;
}