.vision-title svg{
    font-size: 30px;
}
.vision-details{
    margin-top: 20px;
    line-height: 2.5;
    font-weight: 500;
    font-size: 20px;
}
.vision-img{
    width: 100%;
    margin-top: 10vh;
}
@media screen and (min-width:5px) and (max-width:991px){
    .vision-details{
        text-align: center; 
   }
}