:root{
    --color--green : #329154;
}
* {
    font-family: "Zen Antique", "Vollkorn", "Noto Serif JP", "Scheherazade New",
      serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   .Loading {
    width: 6vh;
    position: absolute;
    top: 50%;
    left: 45.5%;
    transform: translate(-50%, -50%);
    animation-name: Loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes Loading {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  
    100% {
      transform: scale(1);
    }
  }
 /* .left {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-2%);
    transition: all 1s;
  }
  .right {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(2%);
    transition: all 1s;
  }
  .hidden {
    opacity: 0;
    filter: blur(4px);
    transition: all 1s;
  }
  .top {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(30%);
    transition: all 1s;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }  */
  ::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color--green);
    cursor: pointer;
  }
  /* ::-webkit-scrollbar-thumb:hover {
    background-color: #eeb50998;
  } */
  
  .social {
    z-index: 10;
    position: fixed;
    bottom: 8vh;
    right: 40px;
    border: none;
    color: white;
    transition: 0.9s;
  }
  .social ul {
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
  }
  .social ul li {
    margin-top: 6px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
  }
  .social ul li svg {
    color: white;
    font-size: 30px;
    margin: auto;
  }
  .social.look {
    right: 14px;
  }
  .whatsapp {
    background-color: rgb(10, 177, 10);
    transition-delay: 150ms;
  }
  .email {
    background-color: palevioletred;
    transition-delay: 100ms;
  }
  .line {
    background-color: green;
    transition-delay: 50ms;
  }
  .click {
    background-color: #24c662;
  }
  