@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Scheherazade+New:wght@400;500;600;700&family=Vollkorn+SC:wght@400;600;700;900&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Zen+Antique&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Zen+Antique&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Vollkorn+SC:wght@400;600;700;900&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Zen+Antique&family=Zen+Antique+Soft&display=swap');
:root{
    --color--green : #329154;
}
* {
    font-family: "Zen Antique", "Vollkorn", "Noto Serif JP", "Scheherazade New",
      serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
   .Loading {
    width: 20vh;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation-name: Loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  div#root{
    background-color: white;
  }
  @media screen and (min-width:5px) and (max-width:600px){
    .Loading{
      left: 32%;
    }
  }
  @keyframes Loading {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  
    100% {
      transform: scale(1);
    }
  }
 .left {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-2%);
    transition: all 1s;
  }
  .right {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(2%);
    transition: all 1s;
  }
  .hidden {
    opacity: 0;
    filter: blur(4px);
    transition: all 1s;
  }
  .top {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(30%);
    transition: all 1s;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  } 
  ::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--color--green);
    cursor: pointer;
  }
  /* ::-webkit-scrollbar-thumb:hover {
    background-color: #eeb50998;
  } */
  
  .social {
    display: none;
    z-index: 16;
    position: fixed;
    bottom: 15vh;
    right: 14px;
    border: none;
    color: white;
    transition: 0.9s;
  }
  .social ul {
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
  }
  .social ul li {
    margin-top: 6px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
  }
  .social ul li svg {
    color: white;
    font-size: 40px;
    margin: auto;
  }

  .whatsapp {
    background-color: rgb(10, 177, 10);
    transition-delay: 150ms;
  }
  .email {
    background-color: palevioletred;
    transition-delay: 100ms;
  }
  .line {
    background-color: green;
    transition-delay: 50ms;
  }
  .click {
    background-color: #24c662;
  }
  
  
@media screen and (max-width:750px) {

  .same{
    padding:0 30px !important;
  }

}